<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>เข้าสู่ระบบผู้ดูแลระบบ</title>
  <link rel="stylesheet" href="/styles/index_admin.css">
  <link href="https://fonts.googleapis.com/css2?family=Kanit&display=swap" rel="stylesheet">

</head>
<body>
  <div class="login-wrapper">
    <div class="login-box">
      <h2>เข้าสู่ระบบ<br>สำหรับผู้ดูแลระบบ</h2>
      <form action="/admin/login" method="POST">
        <div class="form-group">
          <label for="email">อีเมล</label>
          <input type="email" name="email" id="email" placeholder="อีเมล" required>
        </div>
        <div class="form-group">
          <label for="password">รหัสผ่าน</label>
          <input type="password" name="password" id="password" placeholder="รหัสผ่าน" required>
        </div>
        <button type="submit" class="login-button">เข้าสู่ระบบ</button>
      </form>
      <a href="/select-login" class="btn-back-home">กลับไปที่ <span>หน้าแรก</span></a>
    </div>
  </div>
</body>
</html>

